/* Подключение шрифтов */

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
}

/* Глобальные стили */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;

  background-color: #ffffff;
}

/* Общие стили */

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.heading {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.47px;
  color: #000000;
}

.button {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: #000000;

  background-color: transparent;
}

.lined {
  outline: 1px solid blue;
}

/* Стили шапки */

.nav {
  margin-top: 40px;
  padding: 50px 60px;

  background-color: rgba(240, 197, 45, 0.5);
}

.nav-columns {
  display: flex;
}

.nav-search {
  display: flex;
  width: 440px;
  margin-right: 100px;
}

.search-input {
  width: 100%;
  padding-left: 36px;
  border: none;
  border-bottom: 2px solid transparent;

  font: inherit;
  color: #000000;

  background-color: transparent;
}

.search-input::placeholder {
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.3);
}

.search-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:focus::placeholder {
  color: rgba(0, 0, 0, 1);
}

.search-input:focus {
  border-color: #000000;
  outline: none;
}

.search-button {
  padding: 16px 18px;
  border: 2px solid #000000;

  background-color: transparent;
  opacity: 0;
}

.search-input:focus + .search-button {
  opacity: 1;
}

.search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-button:focus,
.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  outline: none;
  opacity: 1;
}

.nav a {
  text-decoration: none;
  color: #000000;
}

.nav a:hover {
  opacity: 0.6;
}

.nav a:active {
  opacity: 0.3;
}

.nav-login {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-login li {
  display: flex;
  align-items: center;
}

.nav-login a {
  padding-left: 25px;
}

.nav-column-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  margin-left: auto;
}

.nav-column-right a {
  padding-left: 25px;
}

.nav-menu-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-menu-catalog {
  width: 300px;
  margin-right: 240px;
}

.nav-menu-delivery {
  margin-right: 30px;
}

.nav-menu-item {
  width: 120px;
}

.nav-menu-contacts {
  margin-left: auto;
}

.nav-submenu-list {
  display: none;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-link {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

/* Раздел "Лучшие предложения" */

.slider-slogan {
  line-height: 56px;
}

.slider-desc {
  letter-spacing: 0.15px;
}

.slider-table {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}

.slider-table-cell {
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.36px;
  color: #000000;
}

/* Раздел "Категории товаров" */

.category-list {
  list-style: none;
}

.category-list li {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.18px;
}

.category-list a {
  text-decoration: none;
  color: #000000;
}

.category-list a:active {
  opacity: 0.3;
}

/* Раздел "Сервисы" */

.services-controls {
  list-style: none;
}

.services-list {
  list-style: none;
}

.services-list p {
  letter-spacing: 0.15px;
}

/* Раздел "Производители" */

.fabricators-list {
  list-style: none;
}

/* Раздел "О нас"  */

.about-us {
  width: 460px;
}

.about-us li {
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

/* Раздел "Контакты" */

.contacts {
  width: 560px;
}

/* Стили футера */

.footer {
  background-color: #464646;
}

.footer-container {
  padding: 60px 0;
}

.footer-menu {
  display: flex;
  align-items: center;
}

.footer-menu > a {
  margin-left: 40px;
  padding-left: 25px;
}

.footer-logo {
  height: 35px;
}

.footer-login {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-login a {
  display: block;
  padding-left: 25px;
}

.footer-info {
  display: flex;
  margin-top: 35px;

  color: #ffffff;
}

.footer-address {
  margin: 0;
  margin-right: 160px;
  padding: 0;
}

.footer-links-list {
  display: flex;
  justify-content: space-between;
  width: 440px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-tel {
  margin-left: auto;
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}

.footer-social-list {
  display: flex;
  width: 160px;
  margin: 0;
  margin-right: 470px;
  padding: 0;

  list-style: none;
}

.footer a {
  text-decoration: none;
  color: #ffffff;

  opacity: 0.7;
}

.footer a:hover {
  opacity: 1;
}

.footer a:active {
  opacity: 0.3;
}

.footer-link {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer .footer-hover {
  opacity: 1;
}

.footer .footer-hover:hover {
  opacity: 0.6;
}

.footer .footer-hover:active {
  opacity: 0.3;
}

.footer .footer-social-hover {
  opacity: 0.3;
}

.footer .footer-social-hover:hover {
  opacity: 0.6;
}

.footer .footer-social-hover:active {
  opacity: 0.1;
}

/* Страница каталога */
.catalog-wrapper {
  padding-left: 60px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  list-style: none;
}

.breadcrumbs-item a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-item-current {
  color: rgba(0, 0, 0, 0.3);
}

/* Раздел "Фильтры" */
.catalog-container {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 330px;
}

.filter-heading {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.18px;
  color: #000000;
}

.filter-form label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
  color: #000000;
}

/* Раздел "Продукты" */

.products {
  width: 760px;
}

.products-sorting {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
}

.products-sorting a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  letter-spacing: normal;
  text-transform: none;
  color: rgba(0, 0, 0, 0.3);
}

.products-sorting a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.products-sorting a:active {
  color: rgba(0, 0, 0, 1);
}

.products-sorting a.active {
  color: #000000;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.products-item {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-bottom: 45px;
}

.products-item:nth-child(2n) {
  margin-left: auto;
}

.products-item img {
  order: -1;
}

.products-info {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.product-heading {
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.product-heading a {
  text-decoration: none;
  color: #000000;
}

.product-price {
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.16px;
}

.pagination {
  list-style: none;
}

.pagination a {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.pagination a.active,
.pagination a.control {
  color: #000000;
}

.pagination a.control:active {
  color: rgba(0, 0, 0, 0.3);
}
