/* Подключение шрифтов */

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
}

/* Глобальные стили */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;

  background-color: #ffffff;
}

/* Общие стили */

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.heading {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.47px;
  color: #000000;
}

.button {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 200px;
  border: none;
  padding: 8px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: #000000;

  background-color: transparent;
}

.button-small {
  width: 160px;
}

.button-medium {
  width: 220px;
}

.button-large {
  width: 260px;
}

.button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 16px;
  left: 0;
  width: 100%;
  height: 8px;

  background-color: #f0c52e;
}

.button:hover::before {
  height: 100%;
  top: 0;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.lined {
  outline: 1px solid blue;
}

/* Стили шапки */

.header-logo {
  position: absolute;
  top: -19px;
  width: 163px;
  height: 35px;
}

.nav {
  position: relative;
  margin-top: 40px;
  padding: 30px 60px 164px;

  background-color: #f7e296;
}

.inner-page .nav {
  padding-bottom: 51px;
}

.nav-columns {
  display: flex;
}

.nav-search {
  display: flex;
  width: 440px;
  margin-right: 100px;
}

.search-input {
  width: 100%;
  padding-top: 5px;
  padding-left: 38px;
  border: none;
  border-bottom: 2px solid transparent;

  font: inherit;
  color: #000000;

  background-color: transparent;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: left 4px top 21px;
}

.search-input::placeholder {
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.3);
}

.search-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:focus::placeholder {
  color: rgba(0, 0, 0, 1);
}

.search-input:focus {
  border-color: #000000;
  outline: none;
}

.search-button {
  padding: 16px 18px;
  border: 2px solid #000000;

  background-color: transparent;
  opacity: 0;
}

.search-input:focus + .search-button {
  opacity: 1;
}

.search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-button:focus,
.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  outline: none;
  opacity: 1;
}

.nav a {
  display: block;

  text-decoration: none;
  color: #000000;
}

.nav a:hover {
  opacity: 0.6;
}

.nav a:active {
  opacity: 0.3;
}

.nav-login {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-login li {
  display: flex;
  align-items: center;
}

.nav-login a {
  padding-left: 27px;
}

.nav-login-link {
  padding-top: 2px;

  letter-spacing: 0.15px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: left 1px top 11px;
}

.nav-login .nav-logout-link {
  padding-top: 2px;

  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.3);
}

.nav-column-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  margin-left: auto;
}

.nav-column-right a {
  padding-left: 28px;
  padding-top: 2px;
}

.compare {
  letter-spacing: 0.15px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: left 8px top 13px;
}

.cart {
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: left 6px top 11px;
}

.nav-menu-list {
  margin: 0;
  margin-top: 28px;
  padding: 0;

  list-style: none;
}

.nav-menu-catalog {
  position: relative;
  width: 300px;
  margin-right: 240px;
}

.nav-menu-catalog:hover .nav-submenu-list {
  display: flex;
}

.nav-submenu-list {
  display: none;
  position: absolute;
  z-index: 1;
  top: 24px;
  left: -60px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  width: 1160px;
  height: 164px;
  margin: 0;
  padding: 21px 60px 50px;

  background-color: #f7e296;

  list-style: none;
}

.nav-submenu-list li {
  width: 200px;
}

.nav-submenu-list li:nth-child(-n + 3) {
  margin-right: 40px;
}

.wrap-next {
  margin-bottom: 30px;
}

.nav-menu-delivery {
  margin-right: 38px;
}

.nav-menu-item {
  width: 120px;
}

.nav-menu-contacts {
  margin-left: auto;
}

.nav-link {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.nav-link-catalog {
  position: relative;
}

.nav-link-catalog::before,
.nav-link-catalog::after {
  content: "";
  position: absolute;
  right: 53px;
  top: 12px;
  width: 16px;
  height: 2px;

  background-color: #b8a974;
}

.nav-link-catalog::after {
  transform: rotate(90deg);
}

.nav-link-catalog:hover + .nav-submenu-list {
  display: flex;
}

/* Раздел "Лучшие предложения" */

.best-offers {
  position: relative;
  margin-bottom: 78px;
  padding-bottom: 35px;
}

.best-offers-list {
  position: relative;
  margin: 0;
  padding: 0;

  list-style: none;
}

.best-offers-list::before {
  content: "";
  position: absolute;
  top: -74px;
  left: 600px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.best-offer {
  position: relative;
  display: none;
  justify-content: space-between;
}

.best-offer::before {
  position: absolute;
  right: 47px;
  top: -125px;

  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.79px;
  font-family: "Gilroy", "Arial", sans-serif;

  color: #ffffff;
}

.best-offer-selfie-stick::before {
  content: "01";
}

.best-offer-fitness-bracelet::before {
  content: "02";
}

.best-offer-quadcopter::before {
  content: "03";
}


.best-offer.active {
  display: flex;
}

.best-offer-info {
  position: relative;
  width: 560px;
}

.slider-slogan {
  position: absolute;
  top: -32px;

  line-height: 56px;
}

.slider-desc {
  margin-top: 99px;
  margin-bottom: 43px;

  letter-spacing: 0.15px;
}

.slider-table {
  margin-top: 50px;
  border: none;
  border-collapse: collapse;

  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}

.slider-table td {
  padding: 0;
}

.slider-table .slider-table-cell {
  width: 160px;
  padding-bottom: 7px;

  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.36px;
  color: #000000;
}

.slider-table-cell:nth-child(2) {
  width: 140px;
}

.best-offer-image {
  position: relative;
  order: -1;
  width: 560px;
}

.best-offer-image img {
  position: absolute;
}

.selfie-stick {
  top: -111px;
  left: 91px;
}

.fitness-bracelet {
  top: -100px;
  left: 116px;
}

.quadcopter {
  top: -46px;
  left: 32px;
}

.best-offers-controls {
  position: absolute;
  top: 206px;
  right: 82px;
  display: flex;
  justify-content: space-between;
  width: 78px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-button {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: none;

  background-color: transparent;
  background-image: url("../img/slider-button-empty.svg");
  background-size: 12px;
  background-repeat: no-repeat;

  cursor: pointer;
}

.slider-button.active {
  background-image: url("../img/slider-button.svg");
}

/* Раздел "Категории товаров" */

.categories {
  margin-bottom: 80px;
}

.category-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.category-item {
  width: 160px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.18px;
}

.category-item a {
  position: relative;
  display: block;
  padding-top: 194px;

  text-decoration: none;
  color: #000000;
}

.category-item a::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 160px;
  height: 160px;

  background-color: #f7e296;
}

.category-item a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 160px;
  height: 160px;

  background-repeat: no-repeat;
}

.category-item a:hover::before {
  background-color: #f0c52e;
}

.category-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.category-item a:active::after {
  opacity: 0.3;
}

.category-virtual a::after {
  background-image: url("../img/popular-1.svg");
  background-position: left 31px top 53px;
}

.category-monopods a::after {
  background-image: url("../img/popular-2.svg");
  background-position: left 38px bottom 1px;
}

.category-cameras a::after {
  background-image: url("../img/popular-3.svg");
  background-position: left 49px top 39px;
}

.category-bracelets a::after {
  background-image: url("../img/popular-4.svg");
  background-position: left 28px top 51px;
}

.category-watches a::after {
  background-image: url("../img/popular-5.svg");
  background-position: left 55px top 33px;
}

.category-quadcopters a::after {
  background-image: url("../img/popular-6.svg");
  background-position: left 13px top 50px;
}

/* Раздел "Сервисы" */

.services {
  position: relative;
  margin-bottom: 95px;
  padding-top: 75px;
  padding-bottom: 113px;
}

.services::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 100px);

  background-color: #e5e5e5;
}

.services-controls {
  position: relative;
  width: 360px;
  margin: 0;
  padding: 0;
  padding-top: 5px;

  list-style: none;
}

.services-controls::after {
  content: "";
  position: absolute;
  top: -74px;
  right: 76px;
  width: 7px;
  height: 319px;

  background-color: #000000;
}

.services-control {
  margin-bottom: 25px;
}

.services-control button {
  position: relative;
}

.services-control button.active,
.services-control button:active {
  color: #f7e184;
}

.services-control button.active::before,
.services-control button:active::before {
  top: 0;
  width: 280px;
  height: 40px;

  background-color: #000000;
}

.services-list {
  width: 760px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-item {
  position: relative;
  display: none;
}

.services-item.active {
  display: block;
}

.services-item h3 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.services-item p {
  width: 460px;

  letter-spacing: 0.15px;
}

.services-item::after {
  content: "";
  position: absolute;

  background-repeat: no-repeat;
}

.services-delivery::after {
  top: 11px;
  right: 65px;
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.svg");
}

.services-warranty::after {
  top: -13px;
  right: 46px;
  width: 171px;
  height: 194px;
  background-image: url("../img/warranty.svg");
}

.services-credit::after {
  top: -13px;
  right: 70px;
  width: 156px;
  height: 186px;
  background-image: url("../img/credit.svg");
}

/* Раздел "Производители" */

.fabricators {
  margin-bottom: 84px;
}

.fabricators-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.fabricators-item {
  position: relative;
  width: 260px;
}

.fabricators-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  opacity: 0;
}

.fabricators-dgi::before {
  background-image: url("../img/logo-1-color.png");
}

.fabricators-spgadjets::before {
  background-image: url("../img/logo-2-color.png");
}

.fabricators-gopro::before {
  background-image: url("../img/logo-3-color.png");
}

.fabricators-vive::before {
  background-image: url("../img/logo-4-color.png");
}

.fabricators-item:hover::before {
  opacity: 1;
}

/* Раздел "О нас"  */

.about-us {
  position: relative;
  width: 480px;
  padding-top: 52px;
  padding-bottom: 82px;
}

.about-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-us h2 {
  margin: 0;
  margin-bottom: 43px;
}

.about-us p {
  margin: 0;
  margin-bottom: 30px;
}

.about-us-list {
  margin: 65px 0 55px;
  padding: 0;

  list-style: none;
}

.about-us-list li {
  position: relative;
  padding-left: 35px;

  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.about-us-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 17px;
  width: 8px;
  height: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

/* Раздел "Контакты" */

.contacts {
  position: relative;
  width: 560px;
  padding-top: 52px;
  padding-bottom: 82px;
}

.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;

  background-color: #000000;
}

.contacts h2 {
  margin: 0;
  margin-bottom: 43px;
}

.contacts p {
  margin: 0;
  margin-bottom: 40px;
}

.contacts-map {
  display: block;
  height: 222px;
  margin-bottom: 68px;
}

/* Стили футера */

.footer {
  background-color: #464646;
}

.footer-container {
  position: relative;

  padding: 65px 0 67px;
}

.footer-container::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 79px;
  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-menu {
  display: flex;
  align-items: flex-start;
}

.footer-logo {
  height: 35px;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-login-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-menu-link {
  position: relative;
  display: block;
  margin-left: 40px;
  padding-left: 25px;

  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.footer-menu-link::before {
  content: "";
  position: absolute;
  bottom: 9px;
  display: block;

  background-repeat: no-repeat;
}

.login-footer::before {
  left: 1px;
  width: 13px;
  height: 12px;

  background-image: url("../img/user-footer.svg");
}

.footer-logout-link {
  margin-left: 20px;

  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}

.compare-footer::before {
  left: 6px;
  width: 10px;
  height: 10px;

  background-image: url("../img/compare-footer.svg");
}

.cart-footer::before {
  left: 2px;
  width: 12px;
  height: 12px;

  background-image: url("../img/cart-footer.svg");
}

.footer-menu-link:hover span {
  color: rgba(255, 255, 255, 1);
}

.footer-menu-link:active span {
  color: rgba(255, 255, 255, 0.3);
}

.footer-menu-link:hover::before,
.footer-logout-link:hover {
  opacity: 0.6;
}

.footer-menu-link:active::before,
.footer-logout-link:active {
  opacity: 0.3;
}

.footer-info {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;

  color: #ffffff;
}

.footer-address {
  margin: 0;
  margin-right: 160px;
  padding: 0;
}

.footer-links-list {
  display: flex;
  justify-content: space-between;
  width: 440px;
  margin: 0;
  margin-top: 7px;
  padding: 0;

  list-style: none;
}

.footer-link {
  display: block;
  padding: 0 6px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;

  color: #ffffff;
}

.footer-link:hover {
  opacity: 0.6;
}

.footer-link:active {
  opacity: 0.3;
}

.footer-tel {
  display: block;
  margin-left: auto;

  text-align: right;
  text-decoration: none;
  color: #ffffff;
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}

.footer-social-link {
  display: block;

  opacity: 0.3;
}

.footer-social-link:hover {
  opacity: 0.6;
}

.footer-social-link:active {
  opacity: 0.1;
}

.footer-social-link::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
}

.footer-social-facebook::before {
  background-image: url("../img/facebook.svg");
}

.footer-social-instagram::before {
  background-image: url("../img/instagram.svg");
}

.footer-social-twitter::before {
  background-image: url("../img/twitter.svg");
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  width: 141px;
  margin: 0;
  margin-top: 2px;
  margin-right: 483px;
  padding: 0;

  list-style: none;
}

.academy-link:hover {
  opacity: 0.6;
}

.academy-link:active {
  opacity: 0.3;
}

.academy-link::before {
  content: "";
  display: block;
  width: 27px;
  height: 35px;

  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
}

/* Страница каталога */
.catalog-wrapper {
  padding-left: 60px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 35px;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -19px;
  width: 4px;
  height: 7px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-item-current {
  color: rgba(0, 0, 0, 0.3);
}

/* Раздел "Фильтры" */
.catalog-container {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 270px;

  background-color: #ebebeb;
}

.filter-heading {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
}

.filter-form fieldset {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}

.filter-form fieldset::before {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 201px;
  height: 2px;

  background-color: #000000;
}

.filter-form legend {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.18px;
  color: #000000;
}

.filter-form ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-form label {
  padding: 5px;
  padding-left: 40px;

  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
  color: #000000;
}

.checkbox-label,
.radio-label {
  position: relative;

  user-select: none;
}

.checkbox-label::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 27px;
  height: 27px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

input[type="checkbox"]:checked + .checkbox-label::before {
  background-image: url("../img/checkbox-on.svg");
}

.radio-label::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 27px;
  height: 27px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}

input[type="radio"]:checked + .radio-label::before {
  background-image: url("../img/radio-on.svg");
}

/* Раздел "Продукты" */

.products {
  width: 760px;
}

.products-sorting {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  padding: 10px 0;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;

  background-color: #ebebeb;
}

.products-sorting a {
  padding: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.products-sorting a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.products-sorting a:active {
  color: rgba(0, 0, 0, 1);
}

.products-sorting a.active {
  color: #000000;
}

.products-sorting a:nth-last-child(2) {
  margin-left: auto;
  margin-right: 16px;
}

.products-sorting a:nth-last-child(2),
.products-sorting a:last-child {
  padding-left: 0;
  padding-right: 0;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.products-item {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-bottom: 45px;
}

.products-item:nth-child(2n) {
  margin-left: auto;
}

.products-item img {
  order: -1;
}

.products-info {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.product-heading {
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.product-heading a {
  text-decoration: none;
  color: #000000;
}

.product-price {
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.16px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0 20px;

  background-color: #ebebeb;
  list-style: none;
}

.pagination a {
  display: block;
  padding: 23px 10px;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.pagination a.active,
.pagination a.control {
  color: #000000;
}

.pagination a.control:active {
  color: rgba(0, 0, 0, 0.3);
}

.control-back {
  margin-right: auto;
}

.control-next {
  margin-left: auto;
}

/* Модальные окна */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 960px;

  transform: translate(-50%, -50%);

  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;

  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  opacity: 0.5;

  cursor: pointer;
}

.modal-contact {
  display: none;
  padding: 80px 100px;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form p {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 35px;
}

.contact-name,
.contact-email {
  width: 360px;
}

.contact-name label,
.contact-email label,
.contact-text label {
  margin-bottom: 10px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;

  color: #000000;
}

.contact-name input,
.contact-email input {
  height: 50px;
  border: none;
  padding: 10px 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(70, 70, 70, 0.4);

  background-color: #f2f2f2;
}

.contact-text {
  width: 100%;
}

.contact-text textarea {
  min-height: 156px;
  border: none;
  padding: 10px 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(70, 70, 70, 0.4);

  background-color: #f2f2f2;

  resize: none;
}

.modal-map {
  display: none;
  height: 559px;
}
